[submodule "contrib/msgpack-ocaml"]
	path = contrib/msgpack-ocaml
	url = ssh://git@github.com/Wassasin/msgpack-ocaml
[submodule "contrib/wubwubcmake"]
	path = contrib/wubwubcmake
	url = ssh://git@github.com/nicknick/wubwubcmake
[submodule "contrib/msgpack-c"]
	path = contrib/msgpack-c
	url = https://github.com/msgpack/msgpack-c.git
