*.msgpack

*.annot
*.cmo
*.cma
*.cmi
*.a
*.o
*.cmx
*.cmxs
*.cmxa

# OCamlbuild
_build
*.native
*.byte
*.d.native
*.p.byte

data
build
CMakeLists.txt.user

src/preloader/preloader
src/preloader/tester
src/preloader/Coq
